#root {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  text-align: center;
  margin-top: 3rem;
}

.todo-list {
  display: grid;
  place-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: rgb(119, 119, 119);
  width: 80%;
  height: calc(100% - 110px);
  overflow-y: none;
  border: solid 0.5rem #000000;
}

form {
  display: flex;
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 18px;
  margin-right: 10px;
  border: 1px solid gray !important;
  border-radius: 5px;
  width: 20rem;
  height: 3rem;
}

input[type="text"]:focus-visible {
  padding: 10px;
  font-size: 18px;
  margin-right: 10px;
  border-color: rgb(0, 242, 255) !important;
  border-radius: 5px;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  height: 3rem;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  color: #00e5ff;
  border: solid 3px #000000;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  font-weight: bold;
}

button[type="submit"]:hover {
  background-color: rgb(255, 255, 255);
  border: solid 3px #000000;
  color: rgb(0, 0, 0);
}

.todo-item {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: darkred;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 36px;
  margin-bottom: 2rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 span {
  color: rgb(0, 234, 255);
  font-weight: bold;
}

h2 {
  color: #ffffff;
}

.sub-tit {
  margin-top: -0.5rem;
  font-weight: bold;
  color: #00e5ff;
}

.sub-tit-two {
  color: #ffffff;
}

.sub-span {
  color: #000000;
  font-weight: bold;
}

.task-tit {
  margin-top: -1.5rem;
  text-decoration: underline;
  font-style: italic;
  font-size: 2.5rem;
  color: #000000;
  font-weight: bold;
}

.navbar {
  display: block;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: black;
  color: white;
  padding: 0 2rem;
  border-bottom: 1px solid gray;
  animation: navbar-slide-in 0.5s ease-in-out;
  -webkit-animation: navbar-slide-in 0.5s ease-in-out;
  position: relative;
}

@keyframes navbar-slide-in {
  0% {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-right: 2rem;
}

.navbar a:hover {
  color: gray;
}

.list {
  margin-top: 2rem;
  width: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: 2rem;
}

.list-p {
  justify-content: center;
  width: 10%;
  word-wrap: break-word;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.list:hover,
.list:focus-visible {
  transform: translateY(0);
}

.error-message {
  background-color: #ff0000;
  color: #ffffff;
  margin-top: 1rem;
  justify-content: center;
}

.filters {
  margin-top: 0.5rem;
}






.checkbox {
  margin-bottom: 1rem;
  outline: none;
  margin-top: 0.7rem;
  margin-right: 10rem;
}

.checkbox:checked::before {
  box-shadow: 0 0 8px 8px rgb(0, 225, 255);
  color: #ffffff;
  background-color: #000000;
  content: "✔";
}





.select-style {
  margin-bottom: 1rem;
  border: 2px solid #d9d9d9;
  height: 30px;
  overflow: hidden;
  width: 230px;
  position: relative;

  background-color: #000000;
  color: #ffffff;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 250px;
}

.select-style:hover {
  background-color: #2c2c2c;
}


.delete-completed {
  margin-top: 3rem;
  margin-bottom: 0rem;
  height: 2.5rem;
}

.delete-completed:hover {
  background-color: #ff1b1b;

}


.delete-all {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 2.5rem;
}

.delete-all:hover {
  background-color: #ff0000;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 320px){

  #root {
    overflow-x: hidden;
  }

  .todo-list {
    width: 75%;
    overflow-x: hidden;
    
  }

  .filters{
    overflow-x: hidden;

  }

  input[type="text"] {
    width: 50%;
    
  }

  .tit {
    width: 100%;
    font-size: 25.5px;
  }

  .delete-all{
    height: 4rem;
  }

  .delete-completed{
    height: 4rem;
  }
  
}

@media only screen and (max-height:740px) {
  .tit {
    width: 100%;
    font-size: 29.5px;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-height: 470px){
  .tit {
    width: 100%;
    font-size: 29.5px;
  }
}

@media only screen and (min-width: 480px) {
  .todo-list {
    width: 75%;
  }

  input[type="text"] {
    width: 100%;
  }

  .tit {
    width: 100%;
    font-size: 36px;
    padding: 10px;
  }

  .delete-all{
    height: 4rem;
  }

  .delete-completed{
    height: 4rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .todo-list {
    width: 75%;
  }

  input[type="text"]:focus-visible {
    width: 60%;
  }

  .delete-all{
    height: 4rem;
  }

  .delete-completed{
    height: 4rem;
  }
}

@media only screen and (min-width: 1024px) {
  .todo-list {
    width: 80%;
  }

  input[type="text"] {
    width: 20rem;
  }
}
